nav[class*=menu] li a:hover,
nav[class*=menu] li a.ct-highlight, nav[class*=menu] li[class*=current-menu-] > a {
  color: var(--linkHoverColor);
  --icon-color: var(--icon-hover-color, var(--linkHoverColor));
}

.menu {
  display: flex;
  --listIndent: 0;
  --listItemSpacing: 0;
  --listStyleType: none;
  --contentSpacing: 0;
}
.menu a:not(:empty) {
  display: flex;
  align-items: center;
  position: relative;
  text-align: initial;
  padding: var(--menu-item-padding, 0px);
  border-radius: var(--menu-item-radius, 0px);
}

.menu > li > a {
  white-space: nowrap;
  justify-content: center;
  height: var(--menu-item-height, 100%);
  --menu-item-padding: 0 calc(var(--menu-items-spacing, 25px) / 2);
}

[data-stretch] {
  width: 100%;
}
[data-stretch] > ul {
  justify-content: space-between;
}

.ct-create-menu {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
}

[data-menu] > ul > li {
  display: flex;
  align-items: center;
}
[data-menu] > ul > li > a:before, [data-menu] > ul > li > a:after {
  position: absolute;
  left: var(--menu-indicator-left, 0);
  right: var(--menu-indicator-right, 0);
  margin: var(--menu-indicator-margin, 0);
  height: var(--menu-indicator-height, 2px);
  opacity: var(--menu-indicator-opacity, 0);
  background-color: var(--menu-indicator-active-color, var(--paletteColor2));
  transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), width 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), height 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), top 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), bottom 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-menu] > ul > li > a:before {
  top: var(--menu-indicator-y-position, 0);
}
[data-menu] > ul > li > a:after {
  bottom: var(--menu-indicator-y-position, 0);
}

[data-menu*=type-1] > ul > li:first-child > a {
  padding-left: 0;
}
[data-menu*=type-1] > ul > li:last-child > a {
  padding-right: 0;
}

[data-menu*=type-2] > ul > li > a:after {
  content: "";
  width: var(--menu-indicator-width, 100%);
}
[data-menu*=type-2] > ul > li:hover > a, [data-menu*=type-2] > ul > li[class*=current-menu-] > a {
  --menu-indicator-opacity: 1;
}

[data-menu="type-2:center"] > ul > li {
  --menu-indicator-width: 0;
  --menu-indicator-margin: 0 auto;
}
[data-menu="type-2:center"] > ul > li:hover > a, [data-menu="type-2:center"] > ul > li[class*=current-menu-] > a {
  --menu-indicator-width: calc(100% - var(--menu-items-spacing, 25px));
}

[data-menu="type-2:left"] > ul > li {
  --menu-indicator-opacity: 1;
  --menu-indicator-left: calc(var(--menu-items-spacing, 25px) / 2);
  --menu-indicator-width: 0;
}
[data-menu="type-2:left"] > ul > li:hover > a, [data-menu="type-2:left"] > ul > li[class*=current-menu-] > a {
  --menu-indicator-width: calc(100% - var(--menu-items-spacing, 25px));
}

[data-menu*=type-3] > ul > li:hover > a, [data-menu*=type-3] > ul > li[class*=current-menu-] > a {
  color: var(--colorHoverType3);
  background-color: var(--menu-indicator-active-color, var(--paletteColor2));
}

[data-menu*=type-4] > ul > li > a:before, [data-menu*=type-4] > ul > li > a:after {
  --menu-indicator-y-position: 10px;
  content: "";
}
[data-menu*=type-4] > ul > li:hover > a:before, [data-menu*=type-4] > ul > li:hover > a:after, [data-menu*=type-4] > ul > li[class*=current-menu-] > a:before, [data-menu*=type-4] > ul > li[class*=current-menu-] > a:after {
  --menu-indicator-y-position: 0px;
  opacity: 1;
}

[data-submenu] {
  position: relative;
}

.animated-submenu > .sub-menu {
  position: var(--dropdown-position, absolute);
  top: var(--top, 100%);
  z-index: 10;
  min-width: 100px;
  margin-top: var(--dropdown-top-offset, 0);
  border-radius: var(--border-radius);
  width: var(--dropdown-width, 200px);
  background-color: var(--dropdown-background-color, var(--paletteColor4));
  box-shadow: var(--box-shadow);
}
.animated-submenu > .sub-menu:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: var(--dropdown-top-offset, 0);
  transform: translateY(-100%);
}

.menu > [data-submenu=right] > .sub-menu {
  left: 0;
}

.menu > [data-submenu=left] > .sub-menu {
  right: 0;
}

.animated-submenu [data-submenu] > ul {
  --top: 0;
  margin-top: 0;
}
.animated-submenu [data-submenu] > ul:before {
  width: 5px;
  height: 100%;
  transform: initial;
}

.animated-submenu [data-submenu=right] > ul {
  right: -5px;
  margin-right: -100%;
}
.animated-submenu [data-submenu=right] > ul:before {
  left: -5px;
  right: initial;
}

.animated-submenu [data-submenu=left] > ul {
  left: -5px;
  margin-left: -100%;
}
.animated-submenu [data-submenu=left] > ul:before {
  left: initial;
  right: -5px;
}

[data-dropdown*=padded] .animated-submenu [data-submenu]:not(:first-child) > ul {
  --top: calc(var(--dropdown-items-padding, 0) * -1);
}

.child-indicator {
  margin-left: 5px;
}
.child-indicator svg {
  fill: currentColor;
}

.animated-submenu > a {
  justify-content: space-between;
}

.animated-submenu [data-submenu=left] > a .child-indicator svg {
  transform: rotate(90deg);
}

.animated-submenu [data-submenu=right] > a .child-indicator svg {
  transform: rotate(-90deg);
}

.sub-menu {
  --menu-item-padding: var(--dropdown-items-spacing, 13px) calc(var(--dropdown-items-spacing, 13px) * 1.5);
}
.sub-menu li {
  border-top: var(--dropdown-divider);
}

.menu > .menu-item:not([class*=ct-mega-menu]) .sub-menu li:first-child {
  border-top: none;
}

[data-dropdown*=solid] .sub-menu li a:hover, [data-dropdown*=solid] .sub-menu li.current-menu-item > a, [data-dropdown*=solid] .sub-menu li.current-menu-ancestor > a {
  background-color: var(--dropdown-background-hover-color, rgba(255, 255, 255, 0.03));
}
[data-dropdown*=solid] .sub-menu li:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[data-dropdown*=solid] .sub-menu li:first-child > a {
  border-radius: inherit;
}
[data-dropdown*=solid] .sub-menu li:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
[data-dropdown*=solid] .sub-menu li:last-child > a {
  border-radius: inherit;
}

[data-dropdown*=padded] {
  --dropdown-divider-margin: calc(var(--dropdown-items-spacing, 13px) - 5px);
  --dropdown-items-padding: 16px;
}
[data-dropdown*=padded] .sub-menu {
  --menu-item-radius: 3px;
  --menu-item-margin: var(--dropdown-divider-margin, 0);
  --menu-item-padding: calc(var(--dropdown-items-spacing, 13px) - 7px) calc(var(--dropdown-items-spacing, 13px) - 4px);
}
[data-dropdown*=padded] .sub-menu li {
  padding: var(--menu-item-margin) calc(var(--menu-item-margin, 0px) + var(--dropdown-items-padding, 0));
}
[data-dropdown*=padded] .sub-menu li:first-child {
  padding-top: calc(var(--menu-item-margin, 0px) + var(--dropdown-items-padding, 0));
}
[data-dropdown*=padded] .sub-menu li:last-child {
  padding-bottom: calc(var(--menu-item-margin, 0px) + var(--dropdown-items-padding, 0));
}
[data-dropdown*=padded] .sub-menu li a:hover, [data-dropdown*=padded] .sub-menu li.current-menu-item > a, [data-dropdown*=padded] .sub-menu li.current-menu-ancestor > a {
  background-color: var(--dropdown-background-hover-color, rgba(255, 255, 255, 0.03));
}

[data-responsive=no] {
  overflow: hidden;
}
[data-responsive=no] .sub-menu {
  display: none;
}

.animated-submenu > .sub-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
}

[data-dropdown*=type-1] .animated-submenu > .sub-menu {
  transform: translate3d(0, 10px, 0);
}
[data-dropdown*=type-1] .animated-submenu:hover > .sub-menu, [data-dropdown*=type-1] .animated-submenu:focus-within > .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

[data-dropdown*=type-2] .animated-submenu:hover > .sub-menu, [data-dropdown*=type-2] .animated-submenu:focus-within > .sub-menu {
  opacity: 1;
  visibility: visible;
}

[data-dropdown*=type-3] .animated-submenu > .sub-menu > li {
  opacity: 0;
  transform: translate3d(0, 5px, 0);
  transition: opacity 0.5s cubic-bezier(0.35, 0.81, 0.41, 1), transform 0.5s cubic-bezier(0.35, 0.81, 0.41, 1);
}
[data-dropdown*=type-3] .animated-submenu:hover > .sub-menu, [data-dropdown*=type-3] .animated-submenu:focus-within > .sub-menu {
  opacity: 1;
  visibility: visible;
}
[data-dropdown*=type-3] .animated-submenu:hover > .sub-menu > li, [data-dropdown*=type-3] .animated-submenu:focus-within > .sub-menu > li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-dropdown*=type-4] .animated-submenu > .sub-menu {
  transition: none;
}
[data-dropdown*=type-4] .animated-submenu:hover > .sub-menu, [data-dropdown*=type-4] .animated-submenu:focus-within > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  width: 100%;
}
.mobile-menu ul {
  --listIndent: 0;
  --listItemSpacing: 0;
  --listStyleType: none;
  margin-bottom: 0;
}
.mobile-menu li {
  display: flex;
  flex-direction: column;
  align-items: var(--horizontal-alignment);
}
.mobile-menu li a {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.mobile-menu .menu-item-has-children > ul a,
.mobile-menu .page_item_has_children > ul a {
  font-size: var(--mobile-menu-child-size, 20px);
}
.mobile-menu .menu-item-has-children > ul.is-animating,
.mobile-menu .page_item_has_children > ul.is-animating {
  transition: height 0.3s ease;
}
.mobile-menu .menu-item-has-children:not(.current-menu-active) > ul,
.mobile-menu .page_item_has_children:not(.current-menu-active) > ul {
  display: none;
}
.mobile-menu .sub-menu {
  overflow: hidden;
}
.mobile-menu .child-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  padding-left: 20px;
}
.mobile-menu .child-indicator svg {
  margin: 10px;
  width: 8px;
  height: 8px;
}

.mobile-menu[data-type=type-1] ul li a {
  padding: 5px 0;
}
.mobile-menu[data-type=type-1] ul li a:hover .child-indicator:before, .mobile-menu[data-type=type-1] ul li.current-menu-active > a .child-indicator:before {
  opacity: 1;
}
.mobile-menu[data-type=type-1] ul .child-indicator:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: calc(100% - 20px);
  height: 100%;
  opacity: 0.2;
  border-radius: 3px;
  border: 1px solid currentColor;
  transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.mobile-menu[data-type=type-1] ul .menu-item-has-children > ul,
.mobile-menu[data-type=type-1] ul .page_item_has_children > ul {
  padding-left: 30px;
}
.mobile-menu[data-type=type-1] ul .menu-item-has-children > ul li:first-child,
.mobile-menu[data-type=type-1] ul .page_item_has_children > ul li:first-child {
  padding-top: 10px;
}
.mobile-menu[data-type=type-1] ul .menu-item-has-children > ul li:last-child,
.mobile-menu[data-type=type-1] ul .page_item_has_children > ul li:last-child {
  padding-bottom: 10px;
}
.mobile-menu[data-type=type-1] ul .menu-item-has-children > ul li a:before,
.mobile-menu[data-type=type-1] ul .page_item_has_children > ul li a:before {
  position: absolute;
  content: "";
  top: calc(50% - 2px);
  left: -30px;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  background: currentColor;
  border-radius: 5px;
  transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), width 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.mobile-menu[data-type=type-1] ul .menu-item-has-children > ul li a:hover:before,
.mobile-menu[data-type=type-1] ul .page_item_has_children > ul li a:hover:before {
  opacity: 1;
  width: 15px;
}
.mobile-menu[data-type=type-1] ul .menu-item-has-children > ul li.current-menu-active > a:before,
.mobile-menu[data-type=type-1] ul .page_item_has_children > ul li.current-menu-active > a:before {
  opacity: 1;
  width: 15px;
}

.mobile-menu[data-type=type-2] ul {
  border-bottom: var(--mobile-menu-divider);
}
.mobile-menu[data-type=type-2] ul li {
  border-top: var(--mobile-menu-divider);
}
.mobile-menu[data-type=type-2] ul a {
  min-height: 2.2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mobile-menu[data-type=type-2] ul .menu-item-has-children ul,
.mobile-menu[data-type=type-2] ul .page_item_has_children ul {
  padding-left: 30px;
}
.mobile-menu[data-type=type-2] ul .menu-item-has-children ul li a,
.mobile-menu[data-type=type-2] ul .page_item_has_children ul li a {
  padding-left: 0;
}
.mobile-menu[data-type=type-2] ul .menu-item-has-children ul li a:before,
.mobile-menu[data-type=type-2] ul .page_item_has_children ul li a:before {
  position: absolute;
  content: "";
  top: calc(50% - 4px);
  left: -15px;
  width: 6px;
  height: 8px;
  margin-right: 15px;
  opacity: 0.3;
  border: 1px solid currentColor;
  border-top: none;
  border-right: none;
  transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.mobile-menu[data-type=type-2] ul .menu-item-has-children ul li a:hover:before,
.mobile-menu[data-type=type-2] ul .page_item_has_children ul li a:hover:before {
  opacity: 0.8;
}
.mobile-menu[data-type=type-2] ul .menu-item-has-children ul li.current-menu-active > a:before,
.mobile-menu[data-type=type-2] ul .page_item_has_children ul li.current-menu-active > a:before {
  opacity: 1;
}
.mobile-menu[data-type=type-2] ul .child-indicator svg {
  opacity: 0;
  visibility: hidden;
}
.mobile-menu[data-type=type-2] ul .child-indicator:before, .mobile-menu[data-type=type-2] ul .child-indicator:after {
  position: absolute;
  content: "";
  width: 36%;
  height: 2px;
  border-radius: 5px;
  background: currentColor;
  transition: transform 0.1s ease;
}
.mobile-menu[data-type=type-2] ul .child-indicator:after {
  transform: rotate(90deg);
}
.mobile-menu[data-type=type-2] ul li.current-menu-active > a span:before {
  transform: rotate(45deg);
}
.mobile-menu[data-type=type-2] ul li.current-menu-active > a span:after {
  transform: rotate(135deg);
}/*# sourceMappingURL=main.css.map */