.page {
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAFAFA;
  box-shadow: inset 0 0 5px #FAFAFA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8C8C8C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F04115;
}

/*---Gallery stuff-------------------------------------------------------*/
/*region Arrow Navigator Skin Begin 
			            Help: https://www.jssor.com/development/slider-with-arrow-navigator.html */
/*---Media query stuff--------------------------------------------------------------------------------------------------------------*/
