$ppov-orange-one:#F04115;
$ppov-orange-two:#FF5F3A;
$ppov-lightgrey:#FAFAFA;
$ppov-black:#0d0d0d;

$ewhite:#FFFFFF;
$eblack:#000000;

$ppov-grey-one:#D9D9D9;
$ppov-grey-two:#8C8C8C;
$ppov-grey-three:#595959;
$ppov-grey-four:#262626;

