/* Error: Undefined variable.
 *    ,
 * 13 |         background-color:$ppov-lighgrey;
 *    |                          ^^^^^^^^^^^^^^
 *    '
 *   input-two.scss 13:20  @use
 *   stylesheet.scss 1:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 13 \2502          background-color:$ppov-lighgrey;\d\a    \2502                           ^^^^^^^^^^^^^^\a    \2575 \a   input-two.scss 13:20  @use\a   stylesheet.scss 1:1   root stylesheet";
}
