@charset "UTF-8";
.widget_product_categories li .count {
  float: right;
}

.woocommerce-widget-layered-nav-list li {
  display: flex;
  align-items: center;
}
.woocommerce-widget-layered-nav-list li .count {
  margin-inline-start: auto;
  font-size: 80%;
}

.widget_rating_filter a,
.widget_product_categories .count,
.widget_layered_nav_filters a:before,
.woocommerce-widget-layered-nav-list .count {
  font-size: 15px;
}

.product_list_widget li {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column-gap: 20px;
  align-items: center;
  --listItemSpacing: 20px;
}
.product_list_widget .ct-image-container {
  align-self: flex-start;
}
.product_list_widget .product-title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding-right: 15px;
}
.product_list_widget .star-rating {
  margin-top: 5px;
}
.product_list_widget .price {
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}
.product_list_widget .quantity {
  margin-top: 5px;
  font-size: 13px;
}
.product_list_widget .quantity > span {
  font-weight: 500;
  margin-left: 3px;
}
.product_list_widget .reviewer {
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}

.woocommerce-mini-cart {
  position: relative;
  margin-bottom: 0;
  --listIndent: 0;
  --listStyleType: none;
}
.woocommerce-mini-cart li {
  position: relative;
  z-index: 1;
}
.woocommerce-mini-cart dl.variation {
  font-size: 13px;
}
.woocommerce-mini-cart .remove {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  font-size: 17px;
  line-height: 13px;
  text-align: center;
  font-weight: normal;
  transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.woocommerce-mini-cart .blockUI.blockOverlay {
  opacity: 0.85 !important;
  background-color: transparent !important;
}
.woocommerce-mini-cart ~ .buttons .button:hover {
  color: var(--buttonTextHoverColor);
}

.woocommerce-mini-cart__total {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 20px;
  border-top: 1px dashed rgba(0, 0, 0, 0.07);
}

.woocommerce-mini-cart__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  margin: 15px 0 0 0 !important;
}
.woocommerce-mini-cart__buttons > * {
  grid-column: var(--gridColumn, 1/-1);
}
.woocommerce-mini-cart__buttons .button.wc-forward {
  --gridColumn: span 1;
}

.woocommerce-mini-cart li,
.woocommerce-mini-cart__total,
.woocommerce-mini-cart__empty-message {
  color: var(--color);
}

.widget_product_search form label {
  display: none !important;
}

.widget_price_filter .ui-slider {
  position: relative;
  z-index: 1;
  height: 3px;
  margin-bottom: 40px;
}
.widget_price_filter .ui-slider:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: var(--paletteColor1);
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  opacity: 0.7;
  background-color: var(--paletteColor1);
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  top: calc(50% - 9px);
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: #fff;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 18px var(--paletteColor1);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -18px;
}
.widget_price_filter .ui-slider .ui-slider-handle:focus {
  outline: none;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
  box-shadow: inset 0px 0px 0px 3px var(--paletteColor1);
}
.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
  transform: scale(1.2);
  box-shadow: inset 0px 0px 0px 2.5px var(--paletteColor1);
}
.widget_price_filter .price_slider_amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget_price_filter .price_slider_amount #min_price, .widget_price_filter .price_slider_amount #max_price, .widget_price_filter .price_slider_amount .clear {
  display: none;
}
.widget_price_filter .price_slider_amount .price_label {
  order: 1;
  font-size: 15px;
  font-weight: 500;
}
.widget_price_filter .price_slider_amount .button {
  --height: 35px;
  --padding: 0 20px;
  --buttonFontSize: 14px;
  order: 2;
}

.woocommerce .widget_rating_filter ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget_layered_nav_filters ul {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -4px 0 -4px;
}
.widget_layered_nav_filters ul li {
  margin: 8px 4px 0 4px;
}
.widget_layered_nav_filters ul li a {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  line-height: 100%;
  padding: 0 6px 0 10px;
  border-radius: 3px;
  border: 1px solid #d7dee5;
  transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.widget_layered_nav_filters ul li a:after {
  content: "×";
  width: 15px;
  height: 15px;
  font-weight: normal;
  line-height: 13px;
  text-align: center;
  margin-left: 5px;
  color: #d83428;
  transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.widget_layered_nav_filters ul li a:hover {
  color: #fff;
  border-color: var(--paletteColor1);
  background: var(--paletteColor1);
}
.widget_layered_nav_filters ul li a:hover:after {
  color: #fff;
}
.widget_layered_nav_filters ul li a .amount {
  margin-left: 5px;
}

.woocommerce-widget-layered-nav-list li a {
  display: flex;
  align-items: center;
}
.woocommerce-widget-layered-nav-list li a:before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "";
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  width: 16px;
  height: 16px;
  margin-inline-end: 10px;
  border-radius: 3px;
  border-width: var(--form-field-border-width);
  border-style: solid;
  border-color: var(--radioCheckboxInitialColor);
}
.woocommerce-widget-layered-nav-list li.chosen a:before {
  content: "✓";
  color: #fff;
  border-color: var(--radioCheckboxAccentColor);
  background: var(--radioCheckboxAccentColor);
}/*# sourceMappingURL=main.css.map */