.page {
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAFAFA;
  box-shadow: inset 0 0 5px #FAFAFA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8C8C8C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F04115;
}

/*---Gallery stuff-------------------------------------------------------*/
/*region Arrow Navigator Skin Begin 
          Help: https://www.jssor.com/development/slider-with-arrow-navigator.html */
/*---Media query stuff--------------------------------------------------------------------------------------------------------------*/
body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  overflow-X: hidden;
}
body nav {
  height: 8%;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 10;
  padding: 0 !important;
  position: fixed;
  display: flex;
}
body nav .navbar-brand {
  text-decoration: none;
  font-size: 0.5em;
  margin-left: 2%;
  color: #0d0d0d;
}
body nav .navbar-brand img {
  height: 50px;
  width: 50px;
  margin-top: -4%;
}
body nav ul {
  height: 100%;
  list-style-type: none;
  padding: 0 !important;
  overflow: hidden;
  margin: auto;
  margin-right: 10%;
}
body nav ul li {
  float: left;
  height: 100%;
  display: flex;
}
body nav ul li a {
  color: #8C8C8C;
  text-align: center;
  margin: auto;
  display: flex;
  text-decoration: none;
}
body nav ul .active {
  font-weight: 500;
}
body nav ul .active a {
  color: #0d0d0d;
}
body nav ul li:hover a {
  Color: #595959;
}
body .gallery-section {
  height: 100vh;
  width: 100%;
}
body .gallery-section .section {
  background-color: white;
  height: 92%;
  padding: 0 !important;
}
body .gallery-section .section .content-section {
  background-color: white;
  display: flex;
}
body .gallery-section .section .content-section .gallery-implant {
  /*Design SET*/
  /* UXUI SET */
}
body .gallery-section .section .content-section .gallery-implant .page-title {
  display: flex;
  height: 5%;
  margin-top: 5% !important;
  background-color: #FFFFFF;
}
body .gallery-section .section .content-section .gallery-implant .page-title h1 {
  font-size: 32px;
  font-weight: 500;
  margin: auto;
  margin-left: 0;
}
body .gallery-section .section .content-section .gallery-implant .page-title h1 strong {
  color: #F04115;
}
body .gallery-section .section .content-section .gallery-implant .flex-wrap .flex-column {
  max-width: 250px;
}
body .gallery-section .section .content-section .gallery-implant .flex-wrap .flex-column img {
  margin: 2px;
  transition: transform 0.2s;
}
body .gallery-section .section .content-section .gallery-implant .flex-wrap .flex-column img:hover {
  transform: scale(1.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body .gallery-section .section .content-section .gallery-implant .gallery image-thumb a img {
  width: 100%;
  border-radius: 0;
  position: relative;
}
body .gallery-section .social-footer {
  background-color: #FAFAFA;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
}
body .gallery-section .social-footer p {
  margin: auto;
  margin-left: 5%;
  font-size: 10px;
}
body .gallery-section .social-footer .social-box {
  height: 100%;
  width: 20%;
  right: 0;
  display: flex;
  position: absolute;
}
body .gallery-section .social-footer .social-box .social {
  height: 100%;
  padding: 2%;
  margin-left: 2%;
}
body .gallery-section .social-footer .social-box .social img {
  height: 100%;
  weight: 100%;
  margin: auto;
}
body .gallery-section .social-footer .social-box .social .icon-black {
  display: block;
}
body .gallery-section .social-footer .social-box .social .icon-white {
  display: none;
}
body .gallery-section .social-footer .social-box .social:hover .icon-black {
  display: none;
}
body .gallery-section .social-footer .social-box .social:hover .icon-white {
  display: block;
}

/*-Media Querys for responsive mode---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .page {
    height: 100vh;
  }
}
@media only screen and (max-width: 500px) {
  html {
    background-color: #FAFAFA;
  }
  html body .gallery-section .content-section .construction {
    margin-top: 20% !important;
  }
  html body .gallery-section .social-footer p {
    position: absolute;
    margin: 100px;
    text-align: center;
  }
  html body .gallery-section .social-footer .social-box {
    height: 60px;
    width: 45%;
    position: absolute;
    left: 0;
    margin: 5% auto;
  }
  html body .gallery-section .social-footer .social-box .social img {
    height: 50px;
    width: 50px;
  }
}/*# sourceMappingURL=input-two.css.map */