#customize-footer-actions .collapse-sidebar {
  height: 45px;
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
}
#customize-footer-actions .collapse-sidebar .collapse-sidebar-label {
  display: none;
}

.ct-dark-mode-switch {
  position: absolute;
  top: 0;
  left: 48px;
  z-index: 999;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-bottom: none;
}
.ct-dark-mode-switch span {
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 45px;
  cursor: pointer;
  display: none;
}
.ct-dark-mode-switch span svg {
  fill: currentColor;
}
.ct-dark-mode-switch .ct-night {
  color: #656a6f;
}
.ct-dark-mode-switch .ct-night:hover {
  color: var(--accentColor);
}
.ct-dark-mode-switch .ct-day {
  color: #fff;
}
.ct-dark-mode-switch .ct-day:hover {
  color: #FDA256;
}

body:not(.ct-dark-mode) .ct-dark-mode-switch {
  border-color: #ddd;
}
body:not(.ct-dark-mode) .ct-dark-mode-switch .ct-night {
  display: flex;
}
body.ct-dark-mode .ct-dark-mode-switch {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
body.ct-dark-mode .ct-dark-mode-switch .ct-day {
  display: flex;
}

.ct-dark-mode {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode a,
.ct-dark-mode .button-link {
  color: #157EFB;
}
.ct-dark-mode a:hover,
.ct-dark-mode .button-link:hover {
  color: rgb(71.1428571429, 153.6428571429, 251.8571428571);
}
.ct-dark-mode #customize-controls {
  background: #2E2F31;
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .description {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-close {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: transparent;
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-close:hover {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .ct-revert,
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-preview-toggle {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: transparent;
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .ct-revert:hover,
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-preview-toggle:hover {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .customize-info {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .customize-info .accordion-section-title {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .customize-info .customize-panel-description,
.ct-dark-mode #customize-controls .customize-info .customize-section-description,
.ct-dark-mode #customize-controls .customize-info .no-widget-areas-rendered-notice {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .customize-info .customize-panel-description .button-link,
.ct-dark-mode #customize-controls .customize-info .customize-section-description .button-link,
.ct-dark-mode #customize-controls .customize-info .no-widget-areas-rendered-notice .button-link {
  color: #157EFB;
}
.ct-dark-mode #customize-controls .customize-info.open .customize-help-toggle {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .customize-info .customize-help-toggle {
  color: inherit;
}
.ct-dark-mode #customize-controls .customize-info .customize-help-toggle:hover {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .customize-info .customize-help-toggle:focus:before {
  outline: none;
  box-shadow: none;
}
.ct-dark-mode #customize-controls .theme-location-set {
  color: #157EFB;
}
.ct-dark-mode #customize-controls #customize-notifications-area {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .ct-group-title {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .ct-group-title h3 {
  color: rgb(56.1, 145.35, 251.6);
}
.ct-dark-mode #customize-controls .ct-group-divider h3 {
  background: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .control-section > h3 {
  color: rgb(251.3894736842, 251.4631578947, 251.6105263158);
}
.ct-dark-mode #customize-controls .control-section > h3:hover {
  color: rgb(56.1, 145.35, 251.6);
  background-color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .control-section > h3:hover:after {
  color: inherit;
}
.ct-dark-mode #customize-controls .control-section > h3:focus {
  color: rgb(56.1, 145.35, 251.6);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632) !important;
}
.ct-dark-mode #customize-controls .control-section > h3:focus:after {
  color: inherit;
}
.ct-dark-mode .customize-section-title {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-section-title h3 {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .customize-panel-back,
.ct-dark-mode .customize-section-back {
  color: #ffffff;
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-left-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-panel-back:hover,
.ct-dark-mode .customize-section-back:hover {
  border-left-color: #157EFB;
}
.ct-dark-mode #customize-theme-controls .control-section.open {
  border-bottom-color: transparent;
}
.ct-dark-mode #customize-theme-controls .accordion-section-content {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode #customize-theme-controls .control-panel-themes > .accordion-section-title {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: transparent;
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .expanded .wp-full-overlay-footer {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .collapse-sidebar-arrow {
  color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices {
  background: inherit;
  box-shadow: -20px 0 10px -5px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices:before {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  width: 1px;
  height: 100%;
  background: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button:not(.active):before {
  color: #ffffff;
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button.active, .ct-dark-mode .expanded .wp-full-overlay-footer .devices button:focus {
  border-bottom-color: #157EFB;
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button.active:before, .ct-dark-mode .expanded .wp-full-overlay-footer .devices button:focus:before {
  color: #157EFB;
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button:focus, .ct-dark-mode .expanded .wp-full-overlay-footer .devices button:hover {
  background: transparent;
}
.ct-dark-mode #customize-save-button-wrapper .button.active {
  background: rgb(3.9714285714, 108.2214285714, 232.3285714286);
  border-color: rgb(3.8, 103.55, 222.3);
}
.ct-dark-mode #customize-save-button-wrapper .button.publish-settings {
  border-left: none;
}
.ct-dark-mode #customize-save-button-wrapper .button:focus {
  box-shadow: 0 1px 0 rgb(3.9714285714, 108.2214285714, 232.3285714286);
}
.ct-dark-mode .button,
.ct-dark-mode .button-primary {
  color: #fff;
  text-shadow: none;
  background: #157EFB;
  border-color: rgb(41.0571428571, 137.0571428571, 251.3428571429);
  box-shadow: 0 1px 0 rgb(3.8857142857, 105.8857142857, 227.3142857143);
}
.ct-dark-mode .button:hover, .ct-dark-mode .button:focus,
.ct-dark-mode .button-primary:hover,
.ct-dark-mode .button-primary:focus {
  color: #fff;
  background: rgb(10.9714285714, 120.4714285714, 250.8285714286);
  border-color: rgb(5.9571428571, 117.7071428571, 250.7428571429);
}
.ct-dark-mode .button:disabled,
.ct-dark-mode .button-primary:disabled {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474) !important;
  background: rgb(68.2252631579, 69.7084210526, 72.6747368421) !important;
  border-color: rgb(75.6336842105, 77.2778947368, 80.5663157895) !important;
}
.ct-dark-mode .button-link-delete {
  color: #ff3030;
}
.ct-dark-mode .notice {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .notice-dismiss:before,
.ct-dark-mode .customize-screen-options-toggle:before {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .notice-dismiss:hover:before,
.ct-dark-mode .customize-screen-options-toggle:hover:before {
  color: #ffffff;
}
.ct-dark-mode .notice-dismiss:focus,
.ct-dark-mode .customize-screen-options-toggle:focus {
  outline: none;
  box-shadow: none;
}
.ct-dark-mode .wp-full-overlay {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632) !important;
}

.ct-dark-mode #customize-outer-theme-controls .customize-control-title {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode #customize-outer-theme-controls #customize-control-changeset_status .customize-inside-control-row {
  color: rgb(225.0842105263, 225.6947368421, 226.9157894737);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-outer-theme-controls #customize-control-changeset_status .customize-inside-control-row:first-of-type {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-outer-theme-controls .notice {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-outer-theme-controls .preview-control-element {
  color: #ffffff;
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-outer-theme-controls .customize-copy-preview-link {
  text-shadow: none !important;
}
.ct-dark-mode #customize-outer-theme-controls .customize-copy-preview-link:before, .ct-dark-mode #customize-outer-theme-controls .customize-copy-preview-link:after {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}

.ct-dark-mode #customize-controls .control-section:hover > .accordion-section-title {
  color: rgb(56.1, 145.35, 251.6);
  background-color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .control-section:hover > .accordion-section-title:after {
  color: inherit;
}
.ct-dark-mode #customize-controls .control-section .accordion-section-title:hover .menu-in-location {
  color: inherit;
}
.ct-dark-mode #customize-controls .panel-meta.customize-info .accordion-section-title:hover {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}

.wp-customizer .ct-dark-mode .control-section-nav_menu .menu-location-settings {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}

.ct-dark-mode input[type=text]:not(.components-text-control__input),
.ct-dark-mode input[type=number]:not(.components-text-control__input),
.ct-dark-mode input[type=search]:not(.components-text-control__input),
.ct-dark-mode textarea:not(.components-text-control__input) {
  color: #ffffff;
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode input[type=checkbox]:not(:checked),
.ct-dark-mode input[type=radio]:not(:checked) {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode input[type=checkbox]:not(:checked):not(:hover),
.ct-dark-mode input[type=radio]:not(:checked):not(:hover) {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-title h3 {
  color: #ffffff;
}
.ct-dark-mode .ct-title p {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-group-title {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-group-title h3 {
  color: rgb(56.1, 145.35, 251.6);
}
.ct-dark-mode .ct-control .ct-revert {
  color: #ffffff;
}
.ct-dark-mode .ct-control > header label {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
}
.ct-dark-mode .ct-option-switch:not(.ct-active) {
  border-color: rgb(80.5726315789, 82.3242105263, 85.8273684211);
}
.ct-dark-mode .ct-option-switch:not(.ct-active) > span {
  background: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode .ct-option-switch:not(.ct-active):after {
  border-color: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode .ct-option-switch.ct-active {
  background: #157EFB;
  border-color: #157EFB;
}
.ct-dark-mode .ct-control:hover .ct-option-switch:not(.ct-active) {
  border-color: rgb(100.3284210526, 102.5094736842, 106.8715789474);
}
.ct-dark-mode .ct-control:hover .ct-option-switch:not(.ct-active) > span {
  background: rgb(133.0157894737, 135.5052631579, 140.4842105263);
}
.ct-dark-mode .ct-option-slider .ct-slider:before {
  --backgroundColor: var(--borderColor);
}
.ct-dark-mode .ct-image-picker li.active {
  background: #157EFB;
}
.ct-dark-mode .ct-image-picker li:not(.active):not(:hover) {
  background: rgba(221, 224, 226, 0.5);
}
.ct-dark-mode .ct-image-picker li:not(.active):not(:hover) svg {
  fill: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-panel.ct-click-allowed:hover:before {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-panel.ct-click-allowed .ct-customizer-panel-option button {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .customize-panel-actions {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-panel-actions h3 {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .ct-customizer-panel {
  background: #2E2F31;
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-tabs > ul > li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-tabs > ul > li:after {
  background: #2E2F31;
}
.ct-dark-mode .ct-tabs > ul > li:not(.active):hover {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(68.2252631579, 69.7084210526, 72.6747368421);
}
.ct-dark-mode .ct-tabs .ct-current-tab {
  border-top-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-color-picker-single > span > span {
  box-shadow: 0 0 0 2px rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-color-picker-single > span > span:after {
  display: none;
}
.ct-dark-mode .ct-responsive-controls li:not(.active) {
  --color: #929499;
}
.ct-dark-mode .ct-responsive-controls li:not(.active):hover {
  --color: #babbbe;
}
.ct-dark-mode .ct-responsive-controls li.active {
  color: #157EFB;
}
.ct-dark-mode .ct-option-number > a {
  color: #fff;
}
.ct-dark-mode .ct-buttons-group li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  box-shadow: inset 0px 0px 0px 1px rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-buttons-group li.active {
  color: #ffffff;
  background: #157EFB;
  box-shadow: inset 0px 0px 0px 1px rgb(4.1428571429, 112.8928571429, 242.3571428571);
}
.ct-dark-mode .ct-buttons-group li:not(.active) {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-buttons-group li:not(.active):hover {
  color: #ffffff;
  background: rgb(65.7557894737, 67.1852631579, 70.0442105263);
}
.ct-dark-mode .ct-option-description {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode .ct-select-input input {
  color: #ffffff;
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-select-input:before {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-select-input:after {
  color: #ffffff;
}
.ct-dark-mode .ct-select-dropdown {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-select-dropdown > div {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-select-dropdown > div.active, .ct-dark-mode .ct-select-dropdown > div.selected {
  color: #ffffff;
  background: rgb(65.7557894737, 67.1852631579, 70.0442105263);
}
.ct-dark-mode .ct-select-dropdown .ct-select-dropdown-group {
  color: #ffffff;
  background: rgb(60.8168421053, 62.1389473684, 64.7831578947);
}
.ct-dark-mode .ct-layer {
  background: rgb(52.1736842105, 53.3078947368, 55.5763157895);
}
.ct-dark-mode .ct-layer-controls {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-layer-controls > * {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-layer-controls .ct-visibility:before {
  background: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  box-shadow: 0px 0px 0px 1px rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-value-changer {
  --backgroundColor: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-value-changer input[type=number] {
  background: transparent;
}
.ct-dark-mode .ct-notification,
.ct-dark-mode .ct-disabled-notification {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-left-color: #157EFB;
}
.ct-dark-mode .ct-attachment .thumbnail {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-attachment .actions {
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-upload-button {
  box-shadow: none;
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632) !important;
}
.ct-dark-mode .ct-upload-button:not(:hover) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode [class*=ct-tooltip] {
  background: #157EFB;
}
.ct-dark-mode .ct-tooltip-top:after {
  border-top: 5px solid #157EFB;
}
.ct-dark-mode .ct-color-palettes li.active, .ct-dark-mode .ct-color-palettes li:hover {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-spacing-controls a:not(:hover) {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .ct-box-shadow-values {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-box-shadow-values button {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
  border-right-color: var(--borderColor);
}
.ct-dark-mode .ct-box-shadow-values button:before {
  background: rgb(211.9315789474, 212.8105263158, 214.5684210526);
  box-shadow: 0px 0px 0px 1px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-box-shadow-values span:hover {
  color: #fff;
}
.ct-dark-mode .ct-box-shadow-values span:after {
  background: var(--accentColor);
}
.ct-dark-mode .ct-ratio-preview {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-ratio-modal {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-ratio-modal:before {
  border-color: transparent transparent rgb(55.8778947368, 57.0926315789, 59.5221052632) transparent;
}
.ct-dark-mode .ct-ratio-modal .ct-radio-option {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-display-conditions {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-condition-group {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-condition-group button:not(:hover) {
  color: #ffffff;
}
.ct-dark-mode .ct-admin-modal {
  background: #2E2F31;
  box-shadow: 0 10px 500px 10px rgba(0, 0, 0, 0.7);
  --optionBorderColor: red;
}
.ct-dark-mode .ct-admin-modal .ct-modal-content h2, .ct-dark-mode .ct-admin-modal .ct-modal-content h4 {
  color: #ffffff;
}
.ct-dark-mode .ct-admin-modal .ct-modal-content p {
  color: rgb(120.0842105263, 122.6947368421, 127.9157894737);
}
.ct-dark-mode .ct-admin-modal .ct-modal-actions.has-divider:before {
  background: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode [data-reach-dialog-overlay] {
  background: rgba(56, 57, 60, 0.85);
}
.ct-dark-mode .ct-option-modal {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-option-modal[data-position=bottom]:before {
  border-color: transparent transparent rgb(55.8778947368, 57.0926315789, 59.5221052632) transparent;
}
.ct-dark-mode .ct-option-modal[data-position=top]:before {
  border-color: rgb(55.8778947368, 57.0926315789, 59.5221052632) transparent transparent transparent;
}
.ct-dark-mode .ct-option-modal .ct-color-picker-top,
.ct-dark-mode .ct-option-modal .components-color-picker__inputs-wrapper,
.ct-dark-mode .ct-option-modal .ct-gradient-swatches,
.ct-dark-mode .ct-option-modal .ct-color-picker-modal,
.ct-dark-mode .ct-option-modal .ct-patterns-list,
.ct-dark-mode .ct-option-modal .ct-patterns-list li:not(.active),
.ct-dark-mode .ct-option-modal .ct-color-picker-modal:before,
.ct-dark-mode .ct-option-modal .ct-typography-top,
.ct-dark-mode .ct-option-modal .ct-typography-options > li:not(:last-child) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-option-modal .ct-typography-single-font:not(.active):not(:first-child),
.ct-dark-mode .ct-option-modal .ct-typography-variations li:not(.active):not(:first-child) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-modal-tabs li {
  color: rgb(120.0842105263, 122.6947368421, 127.9157894737);
  border-bottom-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-modal-tabs li.active, .ct-dark-mode .ct-modal-tabs li:hover {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-modal-tabs li:not(:last-child) {
  border-right-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-background-modal .ct-patterns-list li:not(.active):hover {
  border-color: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode .ct-background-modal .ct-color-picker-modal:before {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typohraphy-value {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typohraphy-value:hover {
  border-color: #157EFB;
}
.ct-dark-mode .ct-typohraphy-value > div > span:hover span {
  color: #ffffff;
}
.ct-dark-mode .ct-typohraphy-value > div > span:after {
  background: #157EFB;
}
.ct-dark-mode .ct-typohraphy-value > a {
  color: #ffffff;
}
.ct-dark-mode .ct-typography-top li {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typography-top li:not(.active) {
  border-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode .ct-typography-top li:not(.active):hover {
  border-color: #157EFB;
}
.ct-dark-mode .ct-typography-top li.ct-weight:before {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .ct-typography-top li.ct-weight span {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  box-shadow: 0px 0px 10px 3px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typography-variant ul li:not(.active) {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-typography-variant ul li:not(:hover):not(.active) {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode .ct-typography-single-font:not(.active):not(:hover):after {
  box-shadow: -5px 0px 15px 10px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-control {
  border-color: var(--optionBorderColor) !important;
}
.ct-dark-mode .customize-control-widget_form .widget-top {
  border-color: var(--optionBorderColor);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .customize-control-widget_form .widget-top h3 {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .widget-inside {
  border-color: var(--optionBorderColor);
  background: rgb(52.1736842105, 53.3078947368, 55.5763157895);
}
.ct-dark-mode #available-widgets,
.ct-dark-mode #available-menu-items {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #available-widgets-filter {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #available-widgets,
.ct-dark-mode #available-widgets-list {
  border-color: var(--optionBorderColor);
}
.ct-dark-mode #available-widgets .widget-tpl {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #available-widgets .widget-tpl h3 {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode #available-widgets .widget-tpl .widget-title:before {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode #available-widgets .widget-tpl .widget-description {
  color: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode #available-widgets .widget-tpl:not(:hover) {
  border-left-color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: var(--optionBorderColor);
}
.ct-dark-mode #available-widgets .widget-tpl:hover {
  background: rgb(63.2863157895, 64.6621052632, 67.4136842105);
  border-left-color: var(--accentColor);
  border-bottom-color: rgb(78.1031578947, 79.8010526316, 83.1968421053);
}

.ct-dark-mode .ct-panels-manager li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-panels-manager li:not(.active):not(:hover) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-available-items .ct-title {
  color: #ffffff;
}
.ct-dark-mode .ct-available-items .ct-builder-item.sortable-chosen,
.ct-dark-mode .ct-available-items .ct-item-in-builder {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
  background: rgb(48.4694736842, 49.5231578947, 51.6305263158);
}
.ct-dark-mode .ct-available-items .ct-builder-item.sortable-chosen:hover,
.ct-dark-mode .ct-available-items .ct-item-in-builder:hover {
  background: rgb(52.1736842105, 53.3078947368, 55.5763157895);
}
.ct-dark-mode .ct-available-items .ct-builder-item:not(.sortable-chosen):hover {
  border-color: var(--accentColor);
}
.ct-dark-mode .ct-panel-builder {
  background: #2E2F31;
}
.ct-dark-mode .placements-builder {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-view-switch {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-view-switch li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-view-switch li.active:after {
  background: var(--accentColor);
}
.ct-dark-mode .ct-view-switch li.active, .ct-dark-mode .ct-view-switch li:hover {
  color: #ffffff;
  background: rgb(62.0515789474, 63.4005263158, 66.0984210526);
}
.ct-dark-mode .ct-view-switch li.ct-builder-toggle {
  border-left-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .row-inner {
  background: #2E2F31;
  border-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode .row-inner .ct-builder-item:not(.sortable-ghost):hover {
  border-color: var(--accentColor);
}
.ct-dark-mode .ct-builder-column-middle {
  background: rgb(50.9389473684, 52.0463157895, 54.2610526316);
  border-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode .ct-builder-item {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode [data-builder=footer] .builder-column:not(:last-child) {
  border-right-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode [class*=ct-instance-button]:not(.active) {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode [class*=ct-instance-button]:not(.active):hover {
  border-color: var(--accentColor);
}
.ct-dark-mode .ct-palettes-modal label {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
}
.ct-dark-mode .ct-palettes-modal .ct-single-palette {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}

.ct-dark-mode .control-panel-themes #accordion-section-installed_themes {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-left-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title.selected {
  color: #157EFB;
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title.selected:after {
  background: #157EFB;
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title:not(.selected):after {
  border-color: rgb(78.1031578947, 79.8010526316, 83.1968421053);
  background: rgb(68.2252631579, 69.7084210526, 72.6747368421);
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title:hover {
  color: #157EFB;
  border-left-color: #157EFB;
}
.ct-dark-mode .control-panel-themes .customize-themes-full-container {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .control-panel-themes .filter-themes-count .themes-displayed {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .customize-preview-header.themes-filter-bar {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-preview-header.themes-filter-bar .search-icon {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .customize-control-theme .theme {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-control-theme .theme .theme-name {
  color: #ffffff;
  background: #2E2F31;
}
.ct-dark-mode .customize-control-theme .theme .theme-actions {
  background: transparent;
}

.ct-dark-mode {
  --accentColor: #157EFB;
  --accentColorHover: #0b78fb;
  --borderColor: #47484b;
  --optionBorderColor: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}

.ct-disable-transitions * {
  transition: none !important;
}/*# sourceMappingURL=main.css.map */