#customize-header-actions .customize-controls-close {
  height: 45px;
  border-top: none;
}
#customize-header-actions .customize-controls-close:before {
  top: 1px;
}
#customize-header-actions .customize-controls-preview-toggle {
  left: 97px;
  width: 49px;
}
#customize-header-actions .customize-controls-preview-toggle .preview {
  font-size: 0;
}
#customize-header-actions .customize-controls-preview-toggle .preview:before {
  height: 100%;
  margin-right: 0;
  position: relative;
  top: 11px;
  left: -2px;
}

.in-sub-panel .wp-full-overlay-sidebar .wp-full-overlay-header {
  padding-left: 15px;
}

#accordion-section-themes h3 {
  border-top: none !important;
  margin-bottom: 0 !important;
}

#customize-controls {
  -webkit-font-smoothing: antialiased;
}
#customize-controls .customize-info {
  margin-bottom: 0 !important;
}
#customize-controls .customize-info.panel-meta {
  margin-bottom: 15px;
}
#customize-controls .customize-section-title.is-in-view {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
}
#customize-controls .ct-group-title {
  height: auto !important;
  display: block !important;
  visibility: visible !important;
  margin: 18px 0 0 0 !important;
  padding: 30px 26px 20px 26px !important;
  border-bottom: none;
  border-top: 1px solid #ddd;
}
#customize-controls .ct-group-title h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #555d66;
  margin: 0;
}
#customize-controls #accordion-section-publish_settings + .ct-group-title {
  margin-top: 0 !important;
  border-top: none;
}
#customize-controls .control-section > h3.accordion-section-title {
  display: flex;
  align-items: center;
  padding: 14px 26px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  border-left: none;
  border-bottom: none;
  background-color: transparent;
}
#customize-controls .control-section > h3.accordion-section-title:after {
  font-size: 12px;
  top: calc(50% - 6px);
  right: 23px;
  color: inherit;
}
#customize-controls .control-section > h3.accordion-section-title:hover {
  background: initial;
}
#customize-controls .control-section > h3.accordion-section-title:focus {
  background: rgba(255, 255, 255, 0.7) !important;
}
#customize-controls .control-section:hover > h3.accordion-section-title {
  background-color: rgba(255, 255, 255, 0.7);
}
#customize-controls .control-section-child > h3 {
  font-size: 12px;
}
#customize-controls .control-section-child > h3:before {
  display: inline-flex;
  content: "";
  width: 5px;
  height: 4px;
  border: 1px solid currentColor;
  border-top: none;
  border-right: none;
  margin-right: 7px;
}
#customize-controls .ct-group-divider {
  height: auto !important;
  display: block !important;
  visibility: visible !important;
  border-bottom: none;
  padding: 10px 26px !important;
}
#customize-controls .ct-group-divider h3 {
  width: 100%;
  height: 1px;
  margin: 0;
  opacity: 0.7;
  background: #ddd;
}
#customize-controls .customize-pane-child {
  bottom: 0;
  min-height: 100%;
}
#customize-controls .customize-pane-child .panel-meta + .accordion-section.control-section {
  margin-top: 15px;
  border-top: none !important;
}

#customize-theme-controls .customize-pane-parent {
  padding-bottom: 20px;
}

.customize-control-ct-options {
  margin-bottom: 30px;
}

#customize-footer-actions {
  width: 319px;
}

@media screen and (max-width: 1666px) {
  .wp-full-overlay.expanded {
    margin-left: 320px;
  }
}
@media screen and (min-width: 1667px) {
  .wp-full-overlay.expanded {
    margin-left: 320px;
  }
}

.wp-full-overlay-sidebar {
  width: 320px;
  box-shadow: none !important;
}

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -320px;
}

.control-panel-themes .customize-themes-full-container {
  margin-left: 320px;
}

.customize-control-hidden {
  display: none !important;
}

#available-menu-items,
#available-widgets {
  transition: left 0.2s ease, visibility 0.2s ease !important;
}

#customize-controls .customize-section-description-container {
  margin-bottom: 22px;
}
#customize-controls .customize-control,
#customize-controls .customize-section-description {
  padding: var(--ui-padding, 0 14px) !important;
  box-sizing: border-box;
}
#customize-controls .control-panel-nav_menus .customize-control-title {
  margin-top: 22px;
  padding: 0 26px;
}
#customize-controls .control-panel-nav_menus .customize-control-title + li {
  border-top: none;
}
#customize-controls .control-section-nav_menu .customize-control-nav_menu_name {
  margin-top: 22px;
}
#customize-controls .control-panel-widgets .panel-meta {
  margin-bottom: 22px !important;
}
#customize-controls .control-panel-widgets .control-section-sidebar:nth-child(2) {
  margin-top: 22px;
  border-top: none !important;
}
#customize-controls .control-panel-widgets .control-section-sidebar[id*=widgets-ct-footer-sidebar] {
  display: none !important;
}
#customize-controls .control-section-sidebar .customize-section-title {
  margin-bottom: 22px;
}
#customize-controls .control-section-sidebar .customize-control {
  --ui-padding: 0 8px;
}
#customize-controls .control-section-sidebar .customize-section-description {
  --ui-padding: 0 8px;
  margin-bottom: 15px;
}
#customize-controls #sub-accordion-section-custom_css .description {
  --ui-padding: 12px 15px;
}
#customize-controls #sub-accordion-section-custom_css .customize-control-code_editor {
  --ui-padding: 0;
}
#customize-controls #sub-accordion-section-custom_css .customize-control-code_editor .CodeMirror-lint-markers {
  width: 19px;
}

.ct-available-items {
  margin: 25px 0 20px 0;
  padding: 0 14px;
}
.ct-available-items .ct-title {
  font-size: 13px !important;
  color: #484f56;
  width: calc(100% + 52px);
  padding: 30px 26px 0 26px;
  margin: 30px -26px 10px -26px;
  box-sizing: border-box;
}
.ct-available-items .ct-title:first-child {
  margin-top: 0;
  padding-top: 0;
}
.ct-available-items .ct-tabs {
  --tabs-container-margin: 25px -26px 0 -26px;
}
.ct-available-items .ct-builder-items {
  margin-top: 25px;
  padding: 0 14px !important;
}

.ct-panels-manager {
  margin-top: 25px;
  padding: 0 14px;
}
.ct-panels-manager li {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0 12px;
  margin-bottom: 13px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e0e0e8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.1s linear, border-color 0.1s linear;
}
.ct-panels-manager li:hover, .ct-panels-manager li.active {
  border-color: var(--accentColor);
}
.ct-panels-manager li.active {
  box-shadow: 0px 0px 0px 1px var(--accentColor);
}
.ct-panels-manager li.active:after {
  opacity: 1;
  pointer-events: initial;
}
.ct-panels-manager li:after {
  font-family: dashicons;
  content: "\f345";
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 13px;
  color: inherit;
  opacity: 0.3;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.1s ease;
}

.ct-panel-name {
  font-size: 12px;
  font-weight: 500;
  margin-right: auto;
}

.ct-panel-builder {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100%;
  bottom: -320px;
  background: #f0f0f1;
  box-sizing: border-box;
  transition: left 0.2s ease, bottom 0.2s ease, opacity 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 600px) {
  .ct-panel-builder {
    display: none !important;
  }
}
.ct-panel-builder > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 601px) {
  .wp-full-overlay.ct-show-builder #customize-preview {
    bottom: 320px;
  }
  .wp-full-overlay.ct-show-builder .ct-panel-builder {
    bottom: 0;
  }
  .wp-full-overlay.ct-show-builder.ct-builder-collapsed #customize-preview {
    bottom: 46px;
  }
  .wp-full-overlay.ct-show-builder.ct-builder-collapsed .placements-builder {
    margin-bottom: -274px;
  }
}
.adding-widget .ct-panel-builder {
  opacity: 0.4;
  left: 300px;
}

.ct-view-switch {
  order: 2;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: 0;
  height: 46px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  background: #f0f0f1;
}
.ct-view-switch li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: var(--ui-height, 100%);
  margin: var(--ui-margin, 0);
  padding: var(--ui-padding, 0 25px);
  cursor: pointer;
  font-weight: 600;
  color: var(--ui-color, #555D65);
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  transition: color 0.1s ease;
}
.ct-view-switch li:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.1s ease;
}
.ct-view-switch li:hover {
  --ui-color: #0071a1;
  background: #fff;
}
.ct-view-switch li.active {
  color: #191e23;
  background: #fff;
}
.ct-view-switch li.active:after {
  opacity: 1;
  background: #191e23;
}

.ct-builder-toggle {
  --ui-margin: 0 0 0 auto;
  --ui-padding: 0;
  min-width: 148px;
  font-size: 12px;
  border-right: none !important;
  border-left: 1px solid #ddd;
}
.ct-builder-toggle:before {
  font-family: dashicons;
  content: "\f347";
  margin-right: 10px;
}

.ct-builder-collapsed .ct-builder-toggle:before {
  content: "\f343";
}

.placements-builder {
  position: relative;
  height: 274px;
  width: 100%;
  padding: 34px 25px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  transition: margin-bottom 0.2s ease;
}

.horizontal-rows {
  margin: 0;
}

.builder-row {
  position: relative;
  z-index: 1;
  margin: 0 0 20px 0;
}
.builder-row:last-child {
  margin-bottom: 0;
}
.builder-row:hover .ct-row-actions {
  opacity: 1;
  visibility: visible;
}
.builder-row:hover .row-inner {
  border-color: transparent;
  box-shadow: 0px 0px 0px 2px var(--accentColor);
}

.row-inner {
  display: var(--display, flex);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  background: #f7f7f7;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0);
  transition: border-color 0.1s ease, box-shadow 0.1s ease;
}

.ct-row-actions {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 3px;
  left: -2px;
  height: 28px;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  padding: 0 13px 4px 13px;
  background: var(--accentColor);
  border-radius: 4px 4px 0 0;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: color 0.15s ease, opacity 0.1s ease, visibility 0.1s ease;
}
.ct-row-actions:hover {
  color: rgb(255, 255, 255);
}
.ct-row-actions:before {
  width: 14px;
  height: 14px;
  margin-right: 7px;
  font-family: dashicons;
  content: "\f111";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.ct-builder-dragging .ct-row-actions {
  display: none;
}

[class*=ct-builder-column] {
  display: flex;
  margin: 0;
}
[class*=ct-builder-column] .ct-builder-items {
  flex: 1;
}

.ct-builder-column-start {
  flex: 1 1 0%;
}
.ct-builder-column-start .ct-primary-column {
  justify-content: flex-start;
}
.ct-builder-column-start .ct-secondary-column {
  justify-content: flex-end;
}

.ct-builder-column-middle {
  min-width: 0px;
  border-left: 1px dashed #ccc;
  border-right: 0px dashed #ccc;
  background: rgba(253, 253, 253, 0.8);
  transition: min-width 0.15s ease, border-right-width 0.1s ease;
}
.ct-builder-column-middle .ct-builder-items {
  justify-content: center;
}
.ct-builder-column-middle[data-count="0"] .ct-builder-items {
  padding-left: 0;
  padding-right: 0;
}
.ct-builder-column-middle:not([data-count="0"]) {
  border-right-width: 1px;
}

.ct-builder-column-end {
  flex: 1 1 0%;
}
.ct-builder-column-end .ct-primary-column {
  justify-content: flex-end;
}
.ct-builder-column-end .ct-secondary-column {
  justify-content: flex-start;
}

.ct-builder-dragging .ct-builder-column-middle {
  min-width: 131px;
  border-right-width: 1px;
  transition: min-width 0.2s ease;
}

.ct-builder-items {
  display: flex;
  align-items: center;
  position: relative;
  height: 53px;
  padding: 8px 4px;
  box-sizing: border-box;
}

.ct-builder-item {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 115px;
  height: 37px;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 500;
  background: #fff;
  cursor: grab;
  border: 1px solid #e0e0e8;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ct-builder-item.sortable-drag {
  padding-right: 0;
  opacity: 1 !important;
  width: 115px !important;
  border-color: rgba(156, 156, 156, 0.5);
  box-shadow: 0 5px 20px -5px rgba(101, 106, 111, 0.4);
  z-index: 99999999999 !important;
}
.ct-builder-item.sortable-drag button,
.ct-builder-item.sortable-drag .ct-clone-item,
.ct-builder-item.sortable-drag .ct-remove-item {
  display: none;
}

.row-inner .ct-builder-item {
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.row-inner .ct-builder-item:hover {
  border-color: var(--accentColor);
}
.row-inner .ct-builder-item.ct-customizing:not(.sortable-ghost) {
  border-color: var(--accentColor);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--accentColor);
}
.row-inner .ct-builder-item.sortable-ghost {
  height: 37px;
  border-radius: 3px;
  box-shadow: none;
  opacity: 0.6;
  font-size: 0;
  box-sizing: border-box;
  border: 1px dashed #9c9c9c;
  background: rgba(0, 0, 0, 0.015);
}
.row-inner .ct-builder-item.sortable-ghost button,
.row-inner .ct-builder-item.sortable-ghost .ct-clone-item,
.row-inner .ct-builder-item.sortable-ghost .ct-remove-item {
  display: none;
}

.ct-filler {
  flex: 1;
  order: -1;
  height: 100%;
}

.ct-builder-dragging {
  cursor: grabbing;
}
.ct-builder-dragging .ct-builder-item {
  cursor: grabbing;
}

.ct-available-items .ct-builder-items {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
}
.ct-available-items .ct-builder-items > * {
  width: 100%;
  height: 41px;
}
.ct-available-items .ct-builder-items > *:not(:last-child) {
  margin-bottom: 13px;
}
.ct-available-items .ct-builder-items > *:after {
  font-family: dashicons;
  content: "\f545";
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 13px;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.1s ease;
}
.ct-available-items .ct-builder-items .ct-builder-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
}
.ct-available-items .ct-builder-items .ct-builder-item button {
  display: none;
}
.ct-available-items .ct-builder-items .ct-builder-item.sortable-ghost {
  box-shadow: none;
}
.ct-available-items .ct-builder-items .ct-builder-item.sortable-ghost:after {
  content: "\f345";
}

.ct-available-items .sortable-ghost,
.ct-available-items .ct-item-in-builder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px dashed rgba(156, 156, 156, 0.6);
  background: rgba(255, 255, 255, 0.4);
}
.ct-available-items .ct-item-in-builder:after {
  content: "\f345";
}
.ct-available-items .ct-item-in-builder:hover {
  background: rgba(255, 255, 255, 0.7);
  border-color: rgba(156, 156, 156, 0.7);
}

.placements-builder.ct-mobile {
  display: flex;
}
.placements-builder.ct-mobile > .horizontal-rows {
  flex: 1;
}

.offcanvas-container {
  width: 200px;
  margin: 0 20px 0 0;
}
.offcanvas-container .builder-row {
  height: 100%;
}
.offcanvas-container .builder-row .row-inner {
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.offcanvas-container .builder-row .row-inner .ct-builder-items {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
}
.offcanvas-container .builder-row .row-inner .ct-builder-items .ct-builder-item {
  width: 100%;
  margin: 4px 0;
}
.offcanvas-container .builder-row .row-inner .ct-builder-items .ct-pointer {
  align-self: center;
}

.ct-builder-column-start > *:first-child .ct-pointer {
  order: 10;
}

.ct-builder-column-middle:not([data-count="0"]) .ct-builder-items .ct-pointer {
  display: none;
}

.ct-builder-column-end .ct-secondary-column .ct-pointer {
  order: 10;
}

.ct-builder-items.ct-is-over .ct-pointer {
  display: none;
}

.ct-pointer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 37px;
  height: 37px;
}
.ct-pointer:before, .ct-pointer:after {
  content: "";
  border-radius: 100%;
  box-sizing: border-box;
}
.ct-pointer:before {
  width: 8px;
  height: 8px;
  box-shadow: inset 0px 0px 0px 0.7px rgba(130, 131, 134, 0.7);
  animation: pulse 1.3s ease-out infinite;
}
.ct-pointer:after {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(130, 131, 134, 0.7);
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.ct-btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 28px;
  height: 28px;
  font-family: dashicons;
  font-size: 14px;
  line-height: 14px;
  color: inherit;
  padding: 0;
  margin-right: -12px;
  border: none;
  cursor: pointer;
  background: none;
  transition: color 0.1s ease;
}
.ct-btn-remove:before {
  content: "\f335";
}
.ct-btn-remove:hover {
  color: #dd4b39;
}
.ct-btn-remove:focus {
  outline: none;
}

.ct-available-items .ct-builder-items > * .ct-clone-item,
.ct-available-items .ct-builder-items > * .ct-remove-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 37px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  opacity: 0.85;
  transition: color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.ct-available-items .ct-builder-items > * .ct-clone-item svg,
.ct-available-items .ct-builder-items > * .ct-remove-item svg {
  fill: currentColor;
}
.ct-available-items .ct-builder-items > * .ct-clone-item .ct-tooltip-top,
.ct-available-items .ct-builder-items > * .ct-remove-item .ct-tooltip-top {
  transform: translate3d(0px, -28px, 0px);
}
.ct-available-items .ct-builder-items > * .ct-clone-item:hover,
.ct-available-items .ct-builder-items > * .ct-remove-item:hover {
  opacity: 1;
}
.ct-available-items .ct-builder-items > * .ct-clone-item:hover .ct-tooltip-top,
.ct-available-items .ct-builder-items > * .ct-remove-item:hover .ct-tooltip-top {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, -33px, 0px);
}
.ct-available-items .ct-builder-items > * .ct-clone-item:hover {
  color: var(--accentColor);
}
.ct-available-items .ct-builder-items > * .ct-remove-item:hover {
  color: #dd4b39;
}

[data-builder=footer] .ct-builder-items {
  justify-content: center;
}
[data-builder=footer] .ct-builder-items .ct-pointer {
  position: absolute;
}
[data-builder=footer] .ct-builder-item {
  width: 100%;
}

.ct-footer-builder .ct-builder-item.sortable-drag {
  width: 110px !important;
}

[data-builder=footer] .builder-column {
  position: relative;
  min-width: 100px;
  margin: 0;
}
[data-builder=footer] .builder-column:not(:last-child) {
  border-right: 1px dashed #ccc;
}
[data-builder=footer] .builder-column:not(:last-child):after {
  position: absolute;
  content: "";
  top: -1px;
  right: -1px;
  width: 2px;
  height: calc(100% + 2px);
  opacity: 0;
  visibility: hidden;
  background: var(--accentColor);
  transition: opacity 0.1s ease, visibility 0.1s ease;
}
[data-builder=footer] .builder-row:hover .builder-column:not(:last-child):after {
  opacity: 1;
  visibility: visible;
}
[data-builder=footer] .row-inner {
  --display: grid;
  grid-template-columns: var(--gridTemplateColummns);
}

[data-builder=header] .ct-builder-footer {
  display: none;
}

[data-builder=footer] .ct-builder-header {
  display: none;
}

.wp-customizer [data-reach-dialog-overlay] {
  z-index: 999999;
  --modal-left: 0;
}

.ct-export-modal,
.ct-reset-options,
.ct-import-export-modal {
  --modal-width: 450px;
  --modal-min-height: 270px;
  --modal-padding: 45px;
  text-align: center;
}
.ct-export-modal .close-button,
.ct-reset-options .close-button,
.ct-import-export-modal .close-button {
  display: none;
}

.ct-import-export-modal svg {
  fill: #3e5667;
  margin: auto;
  margin-bottom: 25px;
  animation: spin 5s linear infinite reverse;
}

.ct-export-modal .ct-export-options {
  margin: 10px 0 20px;
}
.ct-export-modal .ct-checkbox-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(179, 189, 201, 0.3);
}

.wp-full-overlay {
  background-color: #f0f0f1;
}

#customize-preview {
  height: initial;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: transparent;
}
#customize-preview iframe {
  height: calc(100% - 50px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.025);
}

.preview-desktop #customize-preview {
  padding-left: 25px;
  padding-right: 25px;
}
.preview-desktop #customize-preview iframe {
  width: calc(100% - 50px);
}

.preview-tablet #customize-preview {
  max-height: 1080px;
}

.preview-mobile #customize-preview {
  max-height: 650px;
}

#customize-footer-actions .collapse-sidebar {
  height: 45px;
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
}
#customize-footer-actions .collapse-sidebar .collapse-sidebar-label {
  display: none;
}

.ct-dark-mode-switch {
  position: absolute;
  top: 0;
  left: 48px;
  z-index: 999;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-bottom: none;
}
.ct-dark-mode-switch span {
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 45px;
  cursor: pointer;
  display: none;
}
.ct-dark-mode-switch span svg {
  fill: currentColor;
}
.ct-dark-mode-switch .ct-night {
  color: #656a6f;
}
.ct-dark-mode-switch .ct-night:hover {
  color: var(--accentColor);
}
.ct-dark-mode-switch .ct-day {
  color: #fff;
}
.ct-dark-mode-switch .ct-day:hover {
  color: #FDA256;
}

body:not(.ct-dark-mode) .ct-dark-mode-switch {
  border-color: #ddd;
}
body:not(.ct-dark-mode) .ct-dark-mode-switch .ct-night {
  display: flex;
}
body.ct-dark-mode .ct-dark-mode-switch {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
body.ct-dark-mode .ct-dark-mode-switch .ct-day {
  display: flex;
}

.ct-dark-mode {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode a,
.ct-dark-mode .button-link {
  color: #157EFB;
}
.ct-dark-mode a:hover,
.ct-dark-mode .button-link:hover {
  color: rgb(71.1428571429, 153.6428571429, 251.8571428571);
}
.ct-dark-mode #customize-controls {
  background: #2E2F31;
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .description {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-close {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: transparent;
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-close:hover {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .ct-revert,
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-preview-toggle {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: transparent;
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .wp-full-overlay-header .ct-revert:hover,
.ct-dark-mode #customize-controls .wp-full-overlay-header .customize-controls-preview-toggle:hover {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .customize-info {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .customize-info .accordion-section-title {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .customize-info .customize-panel-description,
.ct-dark-mode #customize-controls .customize-info .customize-section-description,
.ct-dark-mode #customize-controls .customize-info .no-widget-areas-rendered-notice {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .customize-info .customize-panel-description .button-link,
.ct-dark-mode #customize-controls .customize-info .customize-section-description .button-link,
.ct-dark-mode #customize-controls .customize-info .no-widget-areas-rendered-notice .button-link {
  color: #157EFB;
}
.ct-dark-mode #customize-controls .customize-info.open .customize-help-toggle {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .customize-info .customize-help-toggle {
  color: inherit;
}
.ct-dark-mode #customize-controls .customize-info .customize-help-toggle:hover {
  color: #ffffff;
}
.ct-dark-mode #customize-controls .customize-info .customize-help-toggle:focus:before {
  outline: none;
  box-shadow: none;
}
.ct-dark-mode #customize-controls .theme-location-set {
  color: #157EFB;
}
.ct-dark-mode #customize-controls #customize-notifications-area {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .ct-group-title {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .ct-group-title h3 {
  color: rgb(56.1, 145.35, 251.6);
}
.ct-dark-mode #customize-controls .ct-group-divider h3 {
  background: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-controls .control-section > h3 {
  color: rgb(251.3894736842, 251.4631578947, 251.6105263158);
}
.ct-dark-mode #customize-controls .control-section > h3:hover {
  color: rgb(56.1, 145.35, 251.6);
  background-color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .control-section > h3:hover:after {
  color: inherit;
}
.ct-dark-mode #customize-controls .control-section > h3:focus {
  color: rgb(56.1, 145.35, 251.6);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632) !important;
}
.ct-dark-mode #customize-controls .control-section > h3:focus:after {
  color: inherit;
}
.ct-dark-mode .customize-section-title {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-section-title h3 {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .customize-panel-back,
.ct-dark-mode .customize-section-back {
  color: #ffffff;
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-left-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-panel-back:hover,
.ct-dark-mode .customize-section-back:hover {
  border-left-color: #157EFB;
}
.ct-dark-mode #customize-theme-controls .control-section.open {
  border-bottom-color: transparent;
}
.ct-dark-mode #customize-theme-controls .accordion-section-content {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode #customize-theme-controls .control-panel-themes > .accordion-section-title {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: transparent;
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .expanded .wp-full-overlay-footer {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .collapse-sidebar-arrow {
  color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices {
  background: inherit;
  box-shadow: -20px 0 10px -5px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices:before {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  width: 1px;
  height: 100%;
  background: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button:not(.active):before {
  color: #ffffff;
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button.active, .ct-dark-mode .expanded .wp-full-overlay-footer .devices button:focus {
  border-bottom-color: #157EFB;
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button.active:before, .ct-dark-mode .expanded .wp-full-overlay-footer .devices button:focus:before {
  color: #157EFB;
}
.ct-dark-mode .expanded .wp-full-overlay-footer .devices button:focus, .ct-dark-mode .expanded .wp-full-overlay-footer .devices button:hover {
  background: transparent;
}
.ct-dark-mode #customize-save-button-wrapper .button.active {
  background: rgb(3.9714285714, 108.2214285714, 232.3285714286);
  border-color: rgb(3.8, 103.55, 222.3);
}
.ct-dark-mode #customize-save-button-wrapper .button.publish-settings {
  border-left: none;
}
.ct-dark-mode #customize-save-button-wrapper .button:focus {
  box-shadow: 0 1px 0 rgb(3.9714285714, 108.2214285714, 232.3285714286);
}
.ct-dark-mode .button,
.ct-dark-mode .button-primary {
  color: #fff;
  text-shadow: none;
  background: #157EFB;
  border-color: rgb(41.0571428571, 137.0571428571, 251.3428571429);
  box-shadow: 0 1px 0 rgb(3.8857142857, 105.8857142857, 227.3142857143);
}
.ct-dark-mode .button:hover, .ct-dark-mode .button:focus,
.ct-dark-mode .button-primary:hover,
.ct-dark-mode .button-primary:focus {
  color: #fff;
  background: rgb(10.9714285714, 120.4714285714, 250.8285714286);
  border-color: rgb(5.9571428571, 117.7071428571, 250.7428571429);
}
.ct-dark-mode .button:disabled,
.ct-dark-mode .button-primary:disabled {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474) !important;
  background: rgb(68.2252631579, 69.7084210526, 72.6747368421) !important;
  border-color: rgb(75.6336842105, 77.2778947368, 80.5663157895) !important;
}
.ct-dark-mode .button-link-delete {
  color: #ff3030;
}
.ct-dark-mode .notice {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .notice-dismiss:before,
.ct-dark-mode .customize-screen-options-toggle:before {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .notice-dismiss:hover:before,
.ct-dark-mode .customize-screen-options-toggle:hover:before {
  color: #ffffff;
}
.ct-dark-mode .notice-dismiss:focus,
.ct-dark-mode .customize-screen-options-toggle:focus {
  outline: none;
  box-shadow: none;
}
.ct-dark-mode .wp-full-overlay {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632) !important;
}

.ct-dark-mode #customize-outer-theme-controls .customize-control-title {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode #customize-outer-theme-controls #customize-control-changeset_status .customize-inside-control-row {
  color: rgb(225.0842105263, 225.6947368421, 226.9157894737);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-outer-theme-controls #customize-control-changeset_status .customize-inside-control-row:first-of-type {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode #customize-outer-theme-controls .notice {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-outer-theme-controls .preview-control-element {
  color: #ffffff;
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-outer-theme-controls .customize-copy-preview-link {
  text-shadow: none !important;
}
.ct-dark-mode #customize-outer-theme-controls .customize-copy-preview-link:before, .ct-dark-mode #customize-outer-theme-controls .customize-copy-preview-link:after {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}

.ct-dark-mode #customize-controls .control-section:hover > .accordion-section-title {
  color: rgb(56.1, 145.35, 251.6);
  background-color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #customize-controls .control-section:hover > .accordion-section-title:after {
  color: inherit;
}
.ct-dark-mode #customize-controls .control-section .accordion-section-title:hover .menu-in-location {
  color: inherit;
}
.ct-dark-mode #customize-controls .panel-meta.customize-info .accordion-section-title:hover {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}

.wp-customizer .ct-dark-mode .control-section-nav_menu .menu-location-settings {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}

.ct-dark-mode input[type=text]:not(.components-text-control__input),
.ct-dark-mode input[type=number]:not(.components-text-control__input),
.ct-dark-mode input[type=search]:not(.components-text-control__input),
.ct-dark-mode textarea:not(.components-text-control__input) {
  color: #ffffff;
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode input[type=checkbox]:not(:checked),
.ct-dark-mode input[type=radio]:not(:checked) {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode input[type=checkbox]:not(:checked):not(:hover),
.ct-dark-mode input[type=radio]:not(:checked):not(:hover) {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-title h3 {
  color: #ffffff;
}
.ct-dark-mode .ct-title p {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-group-title {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-group-title h3 {
  color: rgb(56.1, 145.35, 251.6);
}
.ct-dark-mode .ct-control .ct-revert {
  color: #ffffff;
}
.ct-dark-mode .ct-control > header label {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
}
.ct-dark-mode .ct-option-switch:not(.ct-active) {
  border-color: rgb(80.5726315789, 82.3242105263, 85.8273684211);
}
.ct-dark-mode .ct-option-switch:not(.ct-active) > span {
  background: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode .ct-option-switch:not(.ct-active):after {
  border-color: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode .ct-option-switch.ct-active {
  background: #157EFB;
  border-color: #157EFB;
}
.ct-dark-mode .ct-control:hover .ct-option-switch:not(.ct-active) {
  border-color: rgb(100.3284210526, 102.5094736842, 106.8715789474);
}
.ct-dark-mode .ct-control:hover .ct-option-switch:not(.ct-active) > span {
  background: rgb(133.0157894737, 135.5052631579, 140.4842105263);
}
.ct-dark-mode .ct-option-slider .ct-slider:before {
  --backgroundColor: var(--borderColor);
}
.ct-dark-mode .ct-image-picker li.active {
  background: #157EFB;
}
.ct-dark-mode .ct-image-picker li:not(.active):not(:hover) {
  background: rgba(221, 224, 226, 0.5);
}
.ct-dark-mode .ct-image-picker li:not(.active):not(:hover) svg {
  fill: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-panel.ct-click-allowed:hover:before {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-panel.ct-click-allowed .ct-customizer-panel-option button {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .customize-panel-actions {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-panel-actions h3 {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .ct-customizer-panel {
  background: #2E2F31;
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-tabs > ul > li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-tabs > ul > li:after {
  background: #2E2F31;
}
.ct-dark-mode .ct-tabs > ul > li:not(.active):hover {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(68.2252631579, 69.7084210526, 72.6747368421);
}
.ct-dark-mode .ct-tabs .ct-current-tab {
  border-top-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-color-picker-single > span > span {
  box-shadow: 0 0 0 2px rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-color-picker-single > span > span:after {
  display: none;
}
.ct-dark-mode .ct-responsive-controls li:not(.active) {
  --color: #929499;
}
.ct-dark-mode .ct-responsive-controls li:not(.active):hover {
  --color: #babbbe;
}
.ct-dark-mode .ct-responsive-controls li.active {
  color: #157EFB;
}
.ct-dark-mode .ct-option-number > a {
  color: #fff;
}
.ct-dark-mode .ct-buttons-group li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  box-shadow: inset 0px 0px 0px 1px rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-buttons-group li.active {
  color: #ffffff;
  background: #157EFB;
  box-shadow: inset 0px 0px 0px 1px rgb(4.1428571429, 112.8928571429, 242.3571428571);
}
.ct-dark-mode .ct-buttons-group li:not(.active) {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-buttons-group li:not(.active):hover {
  color: #ffffff;
  background: rgb(65.7557894737, 67.1852631579, 70.0442105263);
}
.ct-dark-mode .ct-option-description {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode .ct-select-input input {
  color: #ffffff;
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-select-input:before {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-select-input:after {
  color: #ffffff;
}
.ct-dark-mode .ct-select-dropdown {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-select-dropdown > div {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-select-dropdown > div.active, .ct-dark-mode .ct-select-dropdown > div.selected {
  color: #ffffff;
  background: rgb(65.7557894737, 67.1852631579, 70.0442105263);
}
.ct-dark-mode .ct-select-dropdown .ct-select-dropdown-group {
  color: #ffffff;
  background: rgb(60.8168421053, 62.1389473684, 64.7831578947);
}
.ct-dark-mode .ct-layer {
  background: rgb(52.1736842105, 53.3078947368, 55.5763157895);
}
.ct-dark-mode .ct-layer-controls {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-layer-controls > * {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-layer-controls .ct-visibility:before {
  background: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  box-shadow: 0px 0px 0px 1px rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-value-changer {
  --backgroundColor: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-value-changer input[type=number] {
  background: transparent;
}
.ct-dark-mode .ct-notification,
.ct-dark-mode .ct-disabled-notification {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-left-color: #157EFB;
}
.ct-dark-mode .ct-attachment .thumbnail {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-attachment .actions {
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-upload-button {
  box-shadow: none;
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632) !important;
}
.ct-dark-mode .ct-upload-button:not(:hover) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode [class*=ct-tooltip] {
  background: #157EFB;
}
.ct-dark-mode .ct-tooltip-top:after {
  border-top: 5px solid #157EFB;
}
.ct-dark-mode .ct-color-palettes li.active, .ct-dark-mode .ct-color-palettes li:hover {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-spacing-controls a:not(:hover) {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .ct-box-shadow-values {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-box-shadow-values button {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
  border-right-color: var(--borderColor);
}
.ct-dark-mode .ct-box-shadow-values button:before {
  background: rgb(211.9315789474, 212.8105263158, 214.5684210526);
  box-shadow: 0px 0px 0px 1px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-box-shadow-values span:hover {
  color: #fff;
}
.ct-dark-mode .ct-box-shadow-values span:after {
  background: var(--accentColor);
}
.ct-dark-mode .ct-ratio-preview {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-ratio-modal {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-ratio-modal:before {
  border-color: transparent transparent rgb(55.8778947368, 57.0926315789, 59.5221052632) transparent;
}
.ct-dark-mode .ct-ratio-modal .ct-radio-option {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-display-conditions {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-condition-group {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-condition-group button:not(:hover) {
  color: #ffffff;
}
.ct-dark-mode .ct-admin-modal {
  background: #2E2F31;
  box-shadow: 0 10px 500px 10px rgba(0, 0, 0, 0.7);
  --optionBorderColor: red;
}
.ct-dark-mode .ct-admin-modal .ct-modal-content h2, .ct-dark-mode .ct-admin-modal .ct-modal-content h4 {
  color: #ffffff;
}
.ct-dark-mode .ct-admin-modal .ct-modal-content p {
  color: rgb(120.0842105263, 122.6947368421, 127.9157894737);
}
.ct-dark-mode .ct-admin-modal .ct-modal-actions.has-divider:before {
  background: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode [data-reach-dialog-overlay] {
  background: rgba(56, 57, 60, 0.85);
}
.ct-dark-mode .ct-option-modal {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-option-modal[data-position=bottom]:before {
  border-color: transparent transparent rgb(55.8778947368, 57.0926315789, 59.5221052632) transparent;
}
.ct-dark-mode .ct-option-modal[data-position=top]:before {
  border-color: rgb(55.8778947368, 57.0926315789, 59.5221052632) transparent transparent transparent;
}
.ct-dark-mode .ct-option-modal .ct-color-picker-top,
.ct-dark-mode .ct-option-modal .components-color-picker__inputs-wrapper,
.ct-dark-mode .ct-option-modal .ct-gradient-swatches,
.ct-dark-mode .ct-option-modal .ct-color-picker-modal,
.ct-dark-mode .ct-option-modal .ct-patterns-list,
.ct-dark-mode .ct-option-modal .ct-patterns-list li:not(.active),
.ct-dark-mode .ct-option-modal .ct-color-picker-modal:before,
.ct-dark-mode .ct-option-modal .ct-typography-top,
.ct-dark-mode .ct-option-modal .ct-typography-options > li:not(:last-child) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-option-modal .ct-typography-single-font:not(.active):not(:first-child),
.ct-dark-mode .ct-option-modal .ct-typography-variations li:not(.active):not(:first-child) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-modal-tabs li {
  color: rgb(120.0842105263, 122.6947368421, 127.9157894737);
  border-bottom-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-modal-tabs li.active, .ct-dark-mode .ct-modal-tabs li:hover {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .ct-modal-tabs li:not(:last-child) {
  border-right-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-background-modal .ct-patterns-list li:not(.active):hover {
  border-color: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode .ct-background-modal .ct-color-picker-modal:before {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typohraphy-value {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typohraphy-value:hover {
  border-color: #157EFB;
}
.ct-dark-mode .ct-typohraphy-value > div > span:hover span {
  color: #ffffff;
}
.ct-dark-mode .ct-typohraphy-value > div > span:after {
  background: #157EFB;
}
.ct-dark-mode .ct-typohraphy-value > a {
  color: #ffffff;
}
.ct-dark-mode .ct-typography-top li {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typography-top li:not(.active) {
  border-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode .ct-typography-top li:not(.active):hover {
  border-color: #157EFB;
}
.ct-dark-mode .ct-typography-top li.ct-weight:before {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .ct-typography-top li.ct-weight span {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  box-shadow: 0px 0px 10px 3px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-typography-variant ul li:not(.active) {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
}
.ct-dark-mode .ct-typography-variant ul li:not(:hover):not(.active) {
  color: rgb(172.4736842105, 174.1578947368, 177.5263157895);
}
.ct-dark-mode .ct-typography-single-font:not(.active):not(:hover):after {
  box-shadow: -5px 0px 15px 10px rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-control {
  border-color: var(--optionBorderColor) !important;
}
.ct-dark-mode .customize-control-widget_form .widget-top {
  border-color: var(--optionBorderColor);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .customize-control-widget_form .widget-top h3 {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode .widget-inside {
  border-color: var(--optionBorderColor);
  background: rgb(52.1736842105, 53.3078947368, 55.5763157895);
}
.ct-dark-mode #available-widgets,
.ct-dark-mode #available-menu-items {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #available-widgets-filter {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #available-widgets,
.ct-dark-mode #available-widgets-list {
  border-color: var(--optionBorderColor);
}
.ct-dark-mode #available-widgets .widget-tpl {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode #available-widgets .widget-tpl h3 {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode #available-widgets .widget-tpl .widget-title:before {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
}
.ct-dark-mode #available-widgets .widget-tpl .widget-description {
  color: rgb(107.7368421053, 110.0789473684, 114.7631578947);
}
.ct-dark-mode #available-widgets .widget-tpl:not(:hover) {
  border-left-color: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: var(--optionBorderColor);
}
.ct-dark-mode #available-widgets .widget-tpl:hover {
  background: rgb(63.2863157895, 64.6621052632, 67.4136842105);
  border-left-color: var(--accentColor);
  border-bottom-color: rgb(78.1031578947, 79.8010526316, 83.1968421053);
}

.ct-dark-mode .ct-panels-manager li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode .ct-panels-manager li:not(.active):not(:hover) {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-available-items .ct-title {
  color: #ffffff;
}
.ct-dark-mode .ct-available-items .ct-builder-item.sortable-chosen,
.ct-dark-mode .ct-available-items .ct-item-in-builder {
  border-color: rgb(83.0421052632, 84.8473684211, 88.4578947368);
  background: rgb(48.4694736842, 49.5231578947, 51.6305263158);
}
.ct-dark-mode .ct-available-items .ct-builder-item.sortable-chosen:hover,
.ct-dark-mode .ct-available-items .ct-item-in-builder:hover {
  background: rgb(52.1736842105, 53.3078947368, 55.5763157895);
}
.ct-dark-mode .ct-available-items .ct-builder-item:not(.sortable-chosen):hover {
  border-color: var(--accentColor);
}
.ct-dark-mode .ct-panel-builder {
  background: #2E2F31;
}
.ct-dark-mode .placements-builder {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-view-switch {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .ct-view-switch li {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-right-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .ct-view-switch li.active:after {
  background: var(--accentColor);
}
.ct-dark-mode .ct-view-switch li.active, .ct-dark-mode .ct-view-switch li:hover {
  color: #ffffff;
  background: rgb(62.0515789474, 63.4005263158, 66.0984210526);
}
.ct-dark-mode .ct-view-switch li.ct-builder-toggle {
  border-left-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .row-inner {
  background: #2E2F31;
  border-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode .row-inner .ct-builder-item:not(.sortable-ghost):hover {
  border-color: var(--accentColor);
}
.ct-dark-mode .ct-builder-column-middle {
  background: rgb(50.9389473684, 52.0463157895, 54.2610526316);
  border-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode .ct-builder-item {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode [data-builder=footer] .builder-column:not(:last-child) {
  border-right-color: rgb(95.3894736842, 97.4631578947, 101.6105263158);
}
.ct-dark-mode [class*=ct-instance-button]:not(.active) {
  color: rgb(198.7789473684, 199.9263157895, 202.2210526316);
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  background: rgb(58.3473684211, 59.6157894737, 62.1526315789);
}
.ct-dark-mode [class*=ct-instance-button]:not(.active):hover {
  border-color: var(--accentColor);
}
.ct-dark-mode .ct-palettes-modal label {
  color: rgb(211.9315789474, 212.8105263158, 214.5684210526);
}
.ct-dark-mode .ct-palettes-modal .ct-single-palette {
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}

.ct-dark-mode .control-panel-themes #accordion-section-installed_themes {
  border-top-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
  border-left-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title.selected {
  color: #157EFB;
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title.selected:after {
  background: #157EFB;
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title:not(.selected):after {
  border-color: rgb(78.1031578947, 79.8010526316, 83.1968421053);
  background: rgb(68.2252631579, 69.7084210526, 72.6747368421);
}
.ct-dark-mode .control-panel-themes .customize-themes-section-title:hover {
  color: #157EFB;
  border-left-color: #157EFB;
}
.ct-dark-mode .control-panel-themes .customize-themes-full-container {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
}
.ct-dark-mode .control-panel-themes .filter-themes-count .themes-displayed {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .customize-preview-header.themes-filter-bar {
  background: rgb(55.8778947368, 57.0926315789, 59.5221052632);
  border-bottom-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-preview-header.themes-filter-bar .search-icon {
  color: rgb(146.1684210526, 148.3894736842, 152.8315789474);
}
.ct-dark-mode .customize-control-theme .theme {
  border-color: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}
.ct-dark-mode .customize-control-theme .theme .theme-name {
  color: #ffffff;
  background: #2E2F31;
}
.ct-dark-mode .customize-control-theme .theme .theme-actions {
  background: transparent;
}

.ct-dark-mode {
  --accentColor: #157EFB;
  --accentColorHover: #0b78fb;
  --borderColor: #47484b;
  --optionBorderColor: rgb(70.6947368421, 72.2315789474, 75.3052631579);
}

.ct-disable-transitions * {
  transition: none !important;
}/*# sourceMappingURL=main.css.map */