.ct-structure-narrow {
  --block-max-width: 750px;
  --wide-block-max-width: 1100px;
}

@media (max-width: 1449px) {
  .ct-structure-normal {
    --block-max-width: 900px;
    --wide-block-max-width: 1100px;
  }
}
@media (min-width: 1450px) {
  .ct-structure-normal {
    --block-max-width: 1290px;
    --wide-block-max-width: 1500px;
  }
}

.ct-theme-editor-styles .wp-block {
  max-width: var(--has-wide, var(--block-max-width));
}
.ct-theme-editor-styles .wp-block[data-align=wide] {
  max-width: var(--has-wide, var(--wide-block-max-width));
}
.ct-theme-editor-styles .wp-block[data-align=full] {
  max-width: none;
  margin-left: var(--has-wide, -10px) !important;
  margin-right: var(--has-wide, -10px) !important;
}
.ct-theme-editor-styles .block-editor-writing-flow {
  margin-left: var(--has-boxed, auto);
  margin-right: var(--has-boxed, auto);
  max-width: var(--has-boxed, var(--block-max-width));
}
.ct-theme-editor-styles .edit-post-layout .interface-interface-skeleton__content {
  background-color: #FCFCFC;
}
.ct-theme-editor-styles .edit-post-layout .interface-interface-skeleton__content .editor-styles-wrapper {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

div.wp-block-getwid-section .wp-block-getwid-section__wrapper .wp-block-getwid-section__inner-wrapper {
  max-width: var(--block-max-width);
}

[data-type^="ugb/"][data-align=full] > * > .ugb-main-block.ugb--has-block-background {
  padding-left: 30px;
  padding-right: 30px;
}
[data-type^="ugb/"][data-align=full] > * > .ugb-main-block.ugb--has-block-background > .ugb-inner-block--center {
  max-width: var(--block-max-width) !important;
}
[data-type^="ugb/"][data-align=full] > * > .ugb-main-block.ugb--has-block-background > .ugb-inner-block--wide {
  max-width: var(--wide-block-max-width) !important;
}

.editor-styles-wrapper .qubely-section h1,
.editor-styles-wrapper .qubely-section h2,
.editor-styles-wrapper .qubely-section h3,
.editor-styles-wrapper .qubely-section h4,
.editor-styles-wrapper .qubely-section h5,
.editor-styles-wrapper .qubely-section h6,
.editor-styles-wrapper .qubely-block-wrapper-block h1,
.editor-styles-wrapper .qubely-block-wrapper-block h2,
.editor-styles-wrapper .qubely-block-wrapper-block h3,
.editor-styles-wrapper .qubely-block-wrapper-block h4,
.editor-styles-wrapper .qubely-block-wrapper-block h5,
.editor-styles-wrapper .qubely-block-wrapper-block h6 {
  margin: 0;
}

.block-editor-block-list__block[data-type="qubely/row"], .block-editor-block-list__block[data-type="qubely/column"], .block-editor-block-list__block[data-type="qubely/button"], .block-editor-block-list__block[data-type="qubely/wrapper"], .block-editor-block-list__block[data-type="qubely/heading"], .block-editor-block-list__block[data-type="qubely/videopopup"], .block-editor-block-list__block[data-type="qubely/buttongroup"] {
  margin-top: 0;
  margin-bottom: 0;
}

.qubely-section .qubely-container {
  max-width: var(--block-max-width) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.qubely-section .qubely-container > .qubely-row > div,
.qubely-section .qubely-container > .qubely-row > div > div,
.qubely-section .qubely-container > .qubely-row > div > div > [data-type="qubely/column"],
.qubely-section .qubely-container > .qubely-row > div > div > [data-type="qubely/column"] > div,
.qubely-section .qubely-container > .qubely-row > div > div > [data-type="qubely/column"] > div > .qubely-column,
.qubely-section .qubely-container > .qubely-row > div > div > [data-type="qubely/column"] > div > .qubely-column > .qubely-column-inner {
  min-height: inherit !important;
}/*# sourceMappingURL=general.css.map */